/* --fonts-- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:wght@500&display=swap');

/*-- common style or page style--- */

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

}
/* .....frist section star ....*/
.container{      
    display: flex;
    background: #1E1E1E;    
    align-items: center;  
    margin: 50px 140px 139px;
    padding: 30px 50px;
    flex-wrap: wrap;
    border-radius: 5px;
   
}
.text-h{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 40px;
   
}
.text-p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    
}
.primary-button{
        display: flex;
      outline: 0;
      border: 0;
      padding: 15px 20px;
      background: #DD0000; 
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      align-items: flex-start;
      flex-direction: row;
      border-radius: 5px;
      cursor: pointer;
      gap: 10px;
      position: relative;
      top: 0;


}
.container > div{
    width: 50%;
}
/* ...first section end... */

/* ,,,second section star ,,,*/

.section-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.div-1{
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-left: 150px; 
   background-color: #161616;


} 
.div-2{
    display: flex;
    width: 312px;
    height: 175px;
    background: url(Egypt-Senegal-1024x683.jpg);
    border-radius: 10px 10px 0px 0px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 150px; 
}
.second-button{
    width: 100px;
    height: 32px;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 150px;  
}

.course-detail{
    width: 272px;
    height: 54px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    color: #161616;
    border-radius: 10px;
    margin-left: 150px; 

}
.course-info{
    display: flex;
    border-radius: 10px;
    margin-left: 150px; 
   display: flex;
}
.fa-regular fa-clock{
    border-radius: 10px;
    margin-left: 150px; 
    display: flex;
}


.button-one{
   width: 252px; 
   height:64px ; 
   border-radius: 5px;
   margin: 12px 20px;
}
.button-two{
    width: 252px; 
    height:64px ;
   border-radius: 5px;
   margin: 12px 20px ;
}   
.button-three{
    width: 252px; 
    height:64px ; 
    background-color: #DD0000;
    color: #FFFFFF;
   border-radius: 5px;
   margin: 12px 20px;
}    

.course-duration{
    display: flex;
}